<section class="login">
  <div class="login-card">
    <h1>{{ 'login.title' | t }}</h1>
    <app-alerts [alerts]="alerts"></app-alerts>

    <form (ngSubmit)="submit()" [formGroup]="form">
      <label>
        {{ 'login.username.label' | t }}
        <input type="text" formControlName="username" [placeholder]="'login.username.placeholder' | t" />
      </label>

      <label>
        {{ 'login.password.label' | t }}
        <input type="password" formControlName="password" [placeholder]="'login.password.placeholder' | t" />
      </label>

      <button type="submit" [disabled]="isSubmitting">{{ 'login.submit' | t }}</button>
    </form>
  </div>
</section>
