<app-modal [title]="'serverConfig.title' | t" (close)="close.emit()">
  <div class="modal-stack">
    <app-alerts [alerts]="alerts"></app-alerts>

    <div class="form-grid">
      <label class="field">
        {{ 'serverConfig.port' | t }}
        <input type="text" [(ngModel)]="config.port" [disabled]="isReadOnly" />
      </label>

      <label class="field" *ngIf="serverType === 'RESTFUL'">
        {{ 'serverConfig.maxThreads' | t }}
        <input type="text" [(ngModel)]="config.maxThreads" [disabled]="isReadOnly" />
      </label>

      <label class="field" *ngIf="serverType === 'RESTFUL'">
        {{ 'serverConfig.minThreads' | t }}
        <input type="text" [(ngModel)]="config.minThreads" [disabled]="isReadOnly" />
      </label>

      <label class="field" *ngIf="serverType === 'RESTFUL'">
        {{ 'serverConfig.idleTimeout' | t }}
        <input type="text" [(ngModel)]="config.timeOutMillis" [disabled]="isReadOnly" />
      </label>

      <label class="field" *ngIf="serverType === 'RESTFUL'">
        {{ 'serverConfig.ngrokToken' | t }}
        <input type="text" [(ngModel)]="config.ngrokAuthToken" [disabled]="isReadOnly" />
      </label>

      <label class="checkbox">
        <input type="checkbox" [(ngModel)]="config.autoStart" [disabled]="isReadOnly" />
        {{ 'serverConfig.autoStart' | t }}
      </label>

      <label class="checkbox" *ngIf="serverType === 'RESTFUL'">
        <input type="checkbox" [(ngModel)]="config.enableCors" [disabled]="isReadOnly" />
        {{ 'serverConfig.enableCors' | t }}
      </label>

      <label class="checkbox" *ngIf="serverType === 'MAIL'">
        <input type="checkbox" [(ngModel)]="config.autoGenInboxes" [disabled]="isReadOnly" />
        {{ 'serverConfig.autoInboxes' | t }}
      </label>
    </div>

    <div class="danger-zone" *ngIf="serverType === 'MAIL'">
      <button class="button danger" type="button" (click)="purgeMailMessages('CACHE')">
        {{ 'serverConfig.danger.clearMailServer' | t }}
      </button>
      <button class="button danger" type="button" (click)="purgeMailMessages('DB')">
        {{ 'serverConfig.danger.deleteDb' | t }}
      </button>
    </div>

    <div class="inline-actions">
      <button class="button secondary" type="button" (click)="close.emit()">{{ 'common.cancel' | t }}</button>
      <button class="button" type="button" (click)="save()" [disabled]="isReadOnly">{{ 'serverConfig.update' | t }}</button>
    </div>
  </div>
</app-modal>
