<section class="reset">
  <div class="reset-card">
    <h1>{{ 'resetPassword.title' | t }}</h1>
    <p class="subtle">{{ 'resetPassword.subtitle' | t }}</p>

    <app-alerts [alerts]="alerts"></app-alerts>

    <form *ngIf="!isDone" (ngSubmit)="submit()" [formGroup]="form">
      <label>
        {{ 'resetPassword.newPassword.label' | t }}
        <input type="password" formControlName="newPassword" [placeholder]="'resetPassword.newPassword.placeholder' | t" />
      </label>

      <label>
        {{ 'resetPassword.confirmPassword.label' | t }}
        <input
          type="password"
          formControlName="confirmPassword"
          [placeholder]="'resetPassword.confirmPassword.placeholder' | t"
        />
      </label>

      <button type="submit" [disabled]="isBusy">{{ 'resetPassword.submit' | t }}</button>
    </form>

    <div *ngIf="isDone" class="reset-success">
      <p>{{ 'resetPassword.done.message' | t }}</p>
      <a class="reset-link" routerLink="/login">{{ 'resetPassword.done.link' | t }}</a>
    </div>
  </div>
</section>
